<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Main category:</strong>
    <%= product.main_category %>
  </p>

  <p>
    <strong>Sub category:</strong>
    <%= product.sub_category %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= product.link %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= product.ratings %>
  </p>

  <p>
    <strong>No of rating:</strong>
    <%= product.no_of_ratings %>
  </p>

  <p>
    <strong>Discount price:</strong>
    <%= product.discount_price %>
  </p>

  <p>
    <strong>Actual price:</strong>
    <%= product.actual_price %>
  </p>

</div>
