<div class="bg-gray-200 py-3 px-5 rounded-sm shadow-md max-w-5xl w-full mx-auto">
    <div class="flex space-x-2">
        <input 
            type="text" 
            placeholder="Search..." 
            data-search-target="query"
            class="w-full px-4 py-2 border border-gray-300 rounded-sm shadow-md hover:bg-gray-50 focus:bg-gray-50 focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        />

        <% @filters.each do |filter| %>
            <select data-search-target="<%= filter.first.camelize(:lower)%>" class="truncate w-full max-w-48 border border-gray-300 rounded-sm shadow-md focus:outline-none hover:bg-gray-200" name="category" id="category">
                <option value=""><%= filter.first.gsub('_', ' ').titleize %></option>
                <% filter.second.each do |option, count| %>
                    <option value="<%= option %>" title="<%= option.titleize %>">
                        <%= option.titleize %> (<%= count %>)
                    </option>
                <% end %>
            </select>
        <% end %>
        
        <select data-search-target="orderBy" class="max-w-48 border border-gray-300 rounded-sm shadow-md focus:outline-none hover:bg-gray-200" name="order_by" id="order_by">
            <option value="">Order</option>
            <% @order_bys.each do |order_by| %>
                <% order_by.values.first.each do |order| %>
                    <% value = "#{order_by.keys.first}-#{order}"%>
                    <option value="<%=value%>"><%=value.gsub(/[_-]/, ' ').capitalize%></option>
                <% end %>
            <% end %>
        </select>
        
        <button data-action="click->search#search" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-sm shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            Search
        </button>
    </div>
</div>